@page "/"
@inject NavigationManager NavigationManager;
@inject MauiInterop Maui;

<h1>@AppConstants.AppName</h1>
<p>Welcome to the @AppConstants.AppName app, an easy way to enjoy your travel making group bills managing easier!</p>

<button class ="btn btn-primary" @onclick='() => NavManager.NavigateTo("/trips")'>See your Trips</button>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Maui.HideLoader();
    }
}