@inherits LayoutComponentBase
@inject MauiInterop Maui

<div class="w-100 position-fixed p-3 mb-3 bg-white shadow-sm top-navbar">
    <div class="hstack gap-3">
        <h3 class="m-0 w-100" @(Maui.IsIOS ? "text-center": "text-start")>
            Ca$hCr3w
        </h3>
        <i class="bx bx-user-circle bx-sm text-dark"></i>
    </div>
    <div class="body-content">
        @Body
    </div>
    <div class="d-flex justify-content-center w-100">
        <div class="d-flex justify-content-center align-items-center vw-90"></div>
    </div>



  @*   <main>
        <div class="w-100 position-fixed p-3 mb-3 bg-white shadow-sm top-navbar">
            <div class="hstack gap-3">
                <h3 class="m-0 w-100"></h3>
            </div>
        </div>
        <div class="top-row px-4">
            <a href="https://github.com/FrankOfTheScience" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main> *@
</div>
