@inherits LayoutComponentBase
@inject MauiInterop Maui

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <main>
        <div class="w-100 position-fixed p-3 mb-3 bg-white shadow-sm top-navbar">
            <div class="hstack gap-3">
                <h3 class="m-0 w-100"></h3>
            </div>
        </div>
        <div class="top-row px-4">
            <a href="https://github.com/FrankOfTheScience" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
